# Each [Section] is one job
# Keys are case-insensitive
# EMAIL is reserved for future email summary (not used in V0.8)

[Job1]
ScanFolder=C:\Temp\Tools
OutputFolder=C:\Tools\Output
Mode=Folders

[Job2]
ScanFolder=C:\Temp
OutputFolder=C:\Tools\Output
Mode=Files

[Job3]
ScanFolder=C:\Temp
OutputFolder=C:\Tools\Output
Mode=Both


[Job5]
ScanFolder=E:\Finance
OutputFolder=E:\FinanceScans
Mode=Both

