# Each [Section] is one job
# Keys are case-insensitive
#Const VERSION      = "1.1"
#Const RELEASE_DATE = "2025-11-21"
#Const UTILITY_NAME = "WinFS_InventoryCSV"

[Job1]
ScanFolder=C:\Temp\Tools
OutputFolder=C:\Tools\Output
Mode=Folders

[Job2]
ScanFolder=C:\Temp
OutputFolder=C:\Tools\Output
Mode=Files

[Job3]
ScanFolder=C:\Temp
OutputFolder=C:\Tools\Output
Mode=Both


[Job5]
ScanFolder=E:\Finance
OutputFolder=E:\FinanceScans
Mode=Both

